<po-page-default p-title="Cliente - Crud" [p-breadcrumb]="paginaBreadcrumb">

<po-widget class="po-row po-mb-12 po-xl-12">
  <form #formCadastro="ngForm" class="po-row">
    <po-input
      class="po-md-12 po-lg-4"
      p-label="Nome"

      [p-show-required]="true"
      name="nome"
      [(ngModel)]="dadosClienteCrud.nome"
    ></po-input>
    <po-input
      class="po-md-12 po-lg-4"
      p-label="CPF/CNPJ"

      [p-show-required]="true"
      name="cip"
      [(ngModel)]="dadosClienteCrud.cip"

    ></po-input>
    <po-combo
      name="tipo"
      [ngModel]="dadosClienteCrud.tipo"
      [(ngModel)]="dadosClienteCrud.tipo"
      p-label="Tipo"
      class="po-md-12 po-lg-4"
      [p-options]="[
        { label: 'Fisica', value: 'F' },
        { label: 'Juridica', value: 'J' },
      ]"
      p-placeholder="Selecione"
      [p-required]="true"
      [p-show-required]="true"
      p-clean
    ></po-combo>
  </form>
</po-widget>

<po-widget class="po-row po-mb-12 po-xl-12 po-mt-2">
  <po-button
    [class]="telaEditar  ? 'po-md-12 po-lg-6' : 'po-md-12'"
    p-kind="primary"
    [p-label]="labelButton"
    (p-click)="handleSubmit()"
    [p-disabled]="formValid()"
    p-icon="an an-arrow-clockwise"
  ></po-button>
  @if (telaEditar) {
    <po-button
      class="po-md-12 po-lg-6"
      p-kind="primary"
      p-label="Excluir"
      p-icon="an an-trash"
      p-danger
      (p-click)="handleRemove()"
    ></po-button>
  }
</po-widget>

</po-page-default>
