<po-page-default p-title="Fornecedor - Crud"[p-breadcrumb]="paginaBreadcrumb">
  <po-widget class="po-md-12 po-mt-4">
    <form #formCadastro="ngForm" class="po-row">
      <po-input
        class="po-md-12 po-lg-6"
        p-label="Nome"
        p-required
        [p-show-required]="true"
        name="nome"
        [(ngModel)]="dadosFornecedor.nome"
      ></po-input>
      <po-input
        class="po-md-12 po-lg-6"
        p-label="CPF/CNPJ"
        p-required
        [p-show-required]="true"
        name="cip"
        [(ngModel)]="dadosFornecedor.cip"
      ></po-input>
    </form>
  </po-widget>
  <po-widget class="po-md-12 po-mt-4">
    <po-button
      p-kind="primary"
      p-icon="an an-arrow-clockwise"
      [class]="telaEditar  ? 'po-md-12 po-lg-6' : 'po-md-12'"
      [p-label]="labelButton"
      [p-disabled]="!formCadastro.valid"
      (p-click)="handleSubmit()"
    ></po-button>
    @if (telaEditar) {
      <po-button
        class="po-md-12 po-lg-6"
        p-kind="primary"
        p-label="Excluir"
        p-icon="an an-trash"
        [p-danger]="true"
        (p-click)="handleRemove()"
      ></po-button>
    }
  </po-widget>
</po-page-default>
